/*登录页，注册页 css*/

.xui-logo{
    text-align: center;
}
.xui-logo_box{
    height: 200px;
    width: 200px;
    margin:0 auto;
    text-align: center;
}
.xui-content{
    margin:0 10%;
}

.xui-username,.xui-password,.xui-email{
    border-bottom: solid 2px #fff;
    margin:10px 0 20px 20px;
}
.xui-in_username,.xui-in_password,.xui-in_email{
    background: #24D79D;
    border: 0px;
}

.xui-btn_join,.xui-btn_login{
    height: 4rem;
    background-color: #fff;
    color: #24D79D;
    border:0px;
}
.xui-join{
    margin-top: 7px;
    float: right;
}