{% extends "base.html" %}
{% block css %}
<style type="text/css"></style>
{% endblock %}

{% block content %}
<nav class="navbar navbar-inverse">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mShanbay_navbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="mShanbay_navbar">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href={% url 'logout' %} >
                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                </a>
            </li>
        </ul>
    </div>
</nav>
    {% block content_base %}{% endblock %}
{% endblock %}


{% block js %}
<script type="text/javascript"></script>
{% endblock %}

