{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="/static/css/login.css">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row xui-logo">
        <div class="xui-logo_box">
            <img src="" alt="mShanbay">
        </div>
    </div>
    <div class="row xui-content">
        <form class="form-horizontal">
            <div class="form-group xui-username">
                <label for="username" class="col-xs-3 control-label xui-label_username">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>用户名
                </label>
                <div class="col-xs-9">
                    <input type="text" class="xui-in_username" id="username">
                </div>
            </div>
            <div class="form-group xui-password">
                <label for="password" class="col-xs-3 control-label xui-label_password">
                    <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>密码
                </label>
                <div class="col-xs-9">
                    <input type="password" class="xui-in_password" id="password">
                </div>
            </div>
            <div class="form-group">
                <input type="button" class="col-xs-12 xui-btn_login xa-btn_login" value="登录">
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <span class="col-xs-6 checkbox xui-remember">
                        <label>
                            <input type="checkbox">记住我
                        </label>
                    </span>
                    <span class="col-xs-6 xui-join xa-join">
                            没有账号？先<a href="/join/">注册</a>吧
                    </span>
                </div>
            </div>
            <div class="alert xui-msg xui-hide xa-msg" role="alert"></div>
        </form>
    </div>
</div>
{% endblock %} {% block js %}
<script type="text/javascript">
$(document).ready(function(){
    //登录
    $('.xa-btn_login').click(function() {
        var username = $('#username').val();
        var password = $('#password').val();
        $.ajax({
            url:'/login/',
            type:'post',
            data:{
                '_method':'login',
                'username':username,
                'password':password
            },
            success:function(resp){
                console.log(resp);
                if(resp.code==200){
                    console.log('登录成功！');
                    var data = resp.data;
                     if(data.url){
                        window.location.href=data.url;
                    }
                    $('.xa-msg').html('登录成功！请登录').removeClass('alert-danger').addClass('alert-success').removeClass('xui-hide');
                }else{
                    console.log('登录失败！');
                    $('.xa-msg').html('登录失败！').removeClass('alert-success').addClass('alert-danger').removeClass('xui-hide');
                }
            },
            error:function(resp){
                console.log('连接服务器失败，请重试！');
                $('.xa-msg').html('连接服务器失败，请重试！').removeClass('alert-success').addClass('alert-danger').removeClass('xui-hide');
            }
        });
    });




});
</script>
{% endblock %}
