{% extends "content_base.html" %}
{% block css %}
    <style>
    body{
        background: #eee;;
    }
    .card_container{
        margin: 0 10px;
    }
    .progress_info{
        border: 1px solid #44B78B;
        border-radius: 2px;
        margin-bottom: 10px;
        background: #44B78B;
    }
    .progress_info .xui-plan{
        text-align: center;
    }

    .xui-card{
        border-radius: 2px;
        background-color: #44B78B;
        color: white;

    }
    .xui-card .xui-word{
        border-radius: 2px;
        background-color:#0C4B33;
        padding: 1rem 2rem;
        text-align: left;

    }
    .xui-card .xui-meaning{
        border-radius: 2px;
        padding: 1rem 2rem;
        text-align: left;
    }

    .xui-card .xui-synonym{
        background-color: #8BD2A2;
        border-radius: 2px;
        padding: 1rem 2rem;
        text-align: left;
    }
    .xui-footer{
        width: 100%;
        position: fixed;
        bottom: 0;
        background: black;
        opacity: 0.8;
        text-align: center;
        padding: 0.8rem 0;
    }
    </style>
{% endblock %}

{% block content_base %}
<div class="card_container">
    <div class="progress">
      <div id="progress-bar" class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
      </div>
    </div>
    <div class="progress_info">
        <h4 class="xui-plan">
            计划总数<span class="xa-count">0</span>
            已完成<span class="xa-index">0</span>
        </h4>
    </div>
    <div id="card_handlebars_container" class="xui-card"></div>
</div>
<div id="footer" class="xui-footer">
    <div class="xui-note_list">
        <span class="fa fa-comments-o fa-2x col-xs-4" aria-hidden="true"></span>
    </div>
    <div class="xui-collect">
        <span class="fa fa-star-o fa-2x col-xs-4" aria-hidden="true"></span>
    </div>
    <div class="xui-add_note">
        <span class="fa fa-commenting-o fa-2x col-xs-4" aria-hidden="true"></span>
    </div>
</div>


{% endblock %}

{% block js %}
    <script type="text/javascript" src="/static/touchSwipe/jquery.touchSwipe.min.js"></script>
    {% verbatim %}
    <script id="card-template" type="text/x-handlebars-template">
    <div id="card" class="xui-card">
        <div id="word" class="xui-word"><h2>{{ word }}</h2></div>
        <div id="meaning" class="xui-meaning">【释义】 {{ meaning }}</div>
        {{#if synonym}}
            <div id="synonym" class="xui-synonym">【近义词】 {{ synonym }}</div>
        {{/if}}
    </div>
    </script>
    {% endverbatim %}
    <script type="text/javascript">
        function Cards(el_id,temple_id) {
            this.el_id = el_id;
            this.temple_id =temple_id;
            this.cards_data = [];
            this.card_data="";
            this.count = 0;
            this.group_index = 0;
            this.index = 0;
        }

        Cards.prototype.init = function() {
            this.get_card_datas();
            this.get_cur_card();
        };
        Cards.prototype.get_progress = function(){
            return;
        }
        Cards.prototype.get_card_datas = function() {
            $.ajax({
                url: '/eating/',
                type: 'get',
                async:false,
                data: {
                    '_method': 'get'
                },
                success: function(resp) {
                    cards.cards_data = resp.data.items;
                    cards.count = resp.data.count;
                    cards.group_index = resp.data.group_index;

                    console.log('success');
                    console.log(resp.data.items);
                },
                error: function(resp) {
                    console.log("[CARDS] GET DATA FAIL");
                }
            });
        }

        Cards.prototype.get_cur_card = function(){
            this.card_data = this.cards_data[this.index];
            this.render(this.card_data,this.el_id,this.temple_id);
        }

        Cards.prototype.get_next_card = function(){
            if( this.index < this.cards_data.length-1){
                this.index += 1;
                this.card_data = this.cards_data[this.index];
                this.render(this.card_data,this.el_id,this.temple_id);
            }else {
                this.index = this.cards_data.length -1;
            }
        }

        Cards.prototype.get_prev_card = function(){
            if( this.index > 0){
                this.index -= 1;
                this.card_data = this.cards_data[this.index];
                this.render(this.card_data,this.el_id,this.temple_id);
            }else {
                this.index = 0;
            }
        }

        Cards.prototype.render = function(card_data,el_id,temple_id) {
            console.log('render.....');
            var temple = $('#'+temple_id).html();
            var compile_temple = Handlebars.compile(temple);
            var temple_html = compile_temple(card_data);
            $('#'+el_id).html(temple_html);
        };

        function update_prograss(cards){
            $('.xa-index').html(parseInt(cards.index)+1);
            var percent = ""+((parseInt(cards.index)+1)/parseInt(cards.count)*100).toFixed(1)+"%";
            $('#progress-bar').css("width",percent);
        }

        $(document).ready(function () {
            cards = new Cards('card_handlebars_container','card-template');
            cards.init();
            $('.xa-count').html(cards.count);
            $('.xa-index').html(parseInt(cards.index)+1);

            $(function() {
                $("#card_handlebars_container").swipe( {
                    swipeLeft:function(event, direction, distance, duration, fingerCount) {
                        cards.get_next_card();
                        update_prograss(cards);

                    },
                    swipeRight:function(event, direction, distance, duration, fingerCount) {
                        cards.get_prev_card();
                        update_prograss(cards);
                    },
                    //Default is 75px, set to 0 for demo so any distance triggers swipe
                    threshold:0
                });
            });
        });


    </script>
{% endblock %}
