{% extends "content_base.html" %}
{% block css %}
    <style>
        #card{
            height: 500px;
            background: gray;
        }
    </style>
{% endblock %}

{% block content_base %}
背单词页面
    <div id="card_handlebars_container">xxxx</div>


{% endblock %}

{% block js %}
    <script type="text/javascript" src="/static/touchSwipe/jquery.touchSwipe.min.js"></script>
    {% verbatim %}
    <script id="card-template" type="text/x-handlebars-template">
    <div id="card" class="xui-card">
        <div id="word" class="xui-word">{{ word }}</div>
        <div id="meaning" class="xui-meaning">{{ meaning }}</div>
        {{#if synonym}}
            <div id="" class="xui-meaning">{{ synonym }}</div>
        {{/if}}
    </div>
    </script>
    {% endverbatim %}
    <script type="text/javascript">
        function Cards(el_id,temple_id) {
            this.el_id = el_id;
            this.temple_id =temple_id;
            this.cards_data = [];
            this.card_data="";
            this.index = 0;
        }

        Cards.prototype.init = function() {
            this.get_card_datas();
            this.get_cur_card();
        };

        Cards.prototype.get_card_datas = function() {
            $.ajax({
                url: '/eating/',
                type: 'get',
                async:false,
                data: {
                    '_method': 'get'
                },
                success: function(resp) {
                    cards.cards_data = resp.data.items;
                    console.log('success');
                    console.log(resp.data.items);
                },
                error: function(resp) {
                    console.log("[CARDS] GET DATA FAIL");
                }
            });
        }

        Cards.prototype.get_cur_card = function(){
            this.card_data = this.cards_data[this.index];
            this.render(this.card_data,this.el_id,this.temple_id);
        }

        Cards.prototype.get_next_card = function(){
            if( this.index < this.cards_data.length-1){
                console.log('HHHHH');
                console.log(this.index);
                console.log(this.cards_data);
                this.index += 1;
                console.log('after');
                console.log(this.cards_data[this.index]);
                this.card_data = this.cards_data[this.index];
                this.render(this.card_data,this.el_id,this.temple_id);
            }else {
                this.index = this.cards_data.length -1;
            }
        }

        Cards.prototype.get_prev_card = function(){
            if( this.index > 0){
                this.index -= 1;
                this.card_data = this.cards_data[this.index];
                this.render(this.card_data,this.el_id,this.temple_id);
            }else {
                this.index = 0;
            }
        }

        Cards.prototype.render = function(card_data,el_id,temple_id) {
            console.log('render.....');
            var temple = $('#'+temple_id).html();
            var compile_temple = Handlebars.compile(temple);
            var temple_html = compile_temple(card_data);
            $('#'+el_id).html(temple_html);
        };



        $(document).ready(function () {
            cards = new Cards('card_handlebars_container','card-template');
            cards.init();


            // Card_Swipes
            $(function() {
                //Keep track of how many swipes
                var count=0;

                //Enable swiping...
                $("#card_handlebars_container").swipe( {
                    //Single swipe handler for left swipes
                    swipeLeft:function(event, direction, distance, duration, fingerCount) {
                        count += 1;
                        console.log('左滑动'+count);
                        cards.get_next_card();
                    },
                    swipeRight:function(event, direction, distance, duration, fingerCount) {
                        count += 1;
                        console.log('右滑动'+count);
                        cards.get_prev_card();
                    },
                    //Default is 75px, set to 0 for demo so any distance triggers swipe
                    threshold:0
                });
            });
        });


    </script>
{% endblock %}
