{% extends "content_base.html" %}
{% block css %}
    <link rel="stylesheet" href="/static/iosselect/iosSelect.css">
    <style type="text/css">
        .xui-intro,.xui-config,.xui-btn_group{
            text-align: center;
        }
        .xui-word_book .xui-book_name,.xui-word_count .xui-count{
            text-decoration:underline;
        }
        .xui-btn_start,.xui-btn_continue{
            height: 4rem;
            width: 80%;
            background-color: #fff;
            color: #24D79D;
            border:0px;
            margin:3rem 10%;
        }
        .xui-book_box,.xui-count_box{
            color:#65665C;
            background:#EFE7C6;
            padding: 1rem;
            margin:1rem;
        }
        .xui-config{
            font-size: 3rem;
        }
        .xui-continue{
            color:#24D79D;
        }
    </style>
{% endblock %}

{% block content_base %}
{% if new_user %}
    <div class="xui-intro">
        <div><h3>制定自己的单词计划吧！</h3></div>
    </div>
    <div class="xui-btn_group">
        <div class="xui-book_box xa-book_box">
            <input type="hidden" name="book_id" id="bookId" value="">
            <span id="selectBook">选择单词书</span>
        </div>

        <div class="xui-count_box xa-count_box">
            <input type="hidden" name="count_id" id="countId" value="">
            <span id="selectCount">选择每次个数</span>
        </div>
    </div>

    <div class="col-xs-12 xui-config">
        <div class="xui-word_book">
            我选择<span id="showBook" class="xui-book_name xa-book_name"> &nbsp; &nbsp; &nbsp; &nbsp;</span>单词书
        </div>
        <div class="xui-word_count">
            每日背  <span id="showCount" class="xui-count xa-count"> &nbsp; &nbsp;</span> 个
        </div>
    </div>

    <div class="form-group">
        <input type="button" class="xui-btn_start xa-btn_login" value="开始">
    </div>
{% else %}
    <div class="xui-intro">
        <div><h3>您已经制定了计划！点击开始继续！</h3></div>
    </div>
    <div class="form-group">
        <input type="button" class="xui-btn_continue xa-btn_continue" value="继续">
    </div>
{% endif %}
{% endblock %}

{% block js %}

    <script src="/static/eatwords/select_data.js"></script>
    <script src="/static/iosselect/iscroll.js"></script>
    <script src="/static/iosselect/iosSelect.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        var bookIdDom = document.querySelector('#bookId');
        var selectBookDom = document.querySelector('#selectBook');
        var showBookDom = document.querySelector('#showBook');
        if(selectBookDom){
            selectBookDom.addEventListener('click', function () {
                var bookId = selectBookDom.dataset['id'];
                var bookName = selectBookDom.dataset['value'];
                var bankSelect = new IosSelect(1,
                    [book_data],
                    {
                        title: '单词书',
                        itemHeight: 35,
                        oneLevelId: bookId,
                        callback: function (selectOneObj) {
                            bookIdDom.value = selectOneObj.id;
                            showBookDom.innerHTML = selectOneObj.value;
                            selectBookDom.dataset['id'] = selectOneObj.id;
                            selectBookDom.dataset['value'] = selectOneObj.value;
                    }
                });
            });
        }

        var countIdDom = document.querySelector('#countId');
        var selectCountDom = document.querySelector('#selectCount');
        var showCountDom = document.querySelector('#showCount');
        if(selectCountDom){
            selectCountDom.addEventListener('click', function () {
                var countId = selectCountDom.dataset['id'];
                var countName = selectCountDom.dataset['value'];
                var bankSelect = new IosSelect(1,
                    [count_data],
                    {
                        title: '每日个数',
                        itemHeight: 35,
                        oneLevelId: countId,
                        callback: function (selectOneObj) {
                            countIdDom.value = selectOneObj.id;
                            showCountDom.innerHTML = selectOneObj.value;
                            selectCountDom.dataset['id'] = selectOneObj.id;
                            selectCountDom.dataset['value'] = selectOneObj.value;
                    }
                });
            });
        }

        //继续
        $('.xa-btn_continue').click(function(){
             window.location.href = '/eating/';
        });
        //开始
        $('.xa-btn_login').click(function(){
            var bookId = $('#bookId').val();
            var countId = $('#countId').val();

            $.ajax({
                url:'/eating/api/',
                type:'post',
                data:{
                    '_method':'put',
                    'bookId':bookId,
                    'countId':countId
                },
                success:function(resp){
                    console.log('success callback');
                    if(resp.code==200){
                        console.log('配置成功！');
                        var data = resp.data;
                         if(data.url){
                            window.location.href=data.url;
                    }

                }},
                error:function(resp){
                    console.log('error callback');

                }
            });
        });

    });

    </script>
{% endblock %}
